! -- NEdit/XNEdit --
! fix colors, bump border shadow size down to 1px
nedit*XmText.Foreground: #ffffff
nedit*XmTextField.Foreground: #ffffff
nedit*XmList.Foreground: #ffffff
nedit*TopLevelShell*background: #444488
nedit*XmPushButton.MarginWidth: 7
nedit*XmPushButton.MarginHeight: 5
nedit*XmToggleButton.MarginWidth: 5
nedit*XmToggleButton.MarginHeight: 3
nedit*ShadowThickness: 1
nedit*TopShadowColor: #6e6ec3
nedit*BottomShadowColor: #222244
nedit*XmForm.ShadowThickness: 0
nedit*font: 6x13

! -- URxvt --
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! better scrolling for stuff like less, man, vim/nano, etc.
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
URxvt.saveLines: 99999

! reasonable keybindings for copy/paste
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.font: 6x13,xft:PowerlineSymbols:size=9
URxvt.italicFont: 6x13

URxvt.background: #222244
URxvt.foreground: #ffffff
URxvt.color0: #2f2a68
URxvt.color1: #f06191
URxvt.color2: #63e99a
URxvt.color3: #ffe666
URxvt.color4: #61f2dc
URxvt.color5: #b043d1
URxvt.color6: #61f2dc
URxvt.color7: #eeeeec
URxvt.color8: #38337f
URxvt.color9: #f06191
URxvt.color10: #63e99a
URxvt.color11: #ffe666
URxvt.color12: #61f2dc
URxvt.color13: #c573dd
URxvt.color14: #61f2dc
URxvt.color15: #ffffff
URxvt.cursorColor: #f06191
! you may need to change this to an absolute path in case the bg doesn't show up
URxvt.pixmap: ~/.termbg.png;style=tiled

URxvt.scrollBar_floating: 1
URxvt.scrollBar_right: 1

URxvt.perl-ext-common: default,matcher,tabbed,-confirm-paste,vtewheel

! links
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

URxvt.tabbed.tabbar-fg: 15
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 11
URxvt.tabbed.tab-bg: 0
